USE [master]
GO
/****** Object:  Database [RESTO_DB]    Script Date: 7/11/2023 10:01:53 AM ******/
CREATE DATABASE [RESTO_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RESTO_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\RESTO_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RESTO_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\RESTO_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RESTO_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RESTO_DB]
GO
/****** Object:  Table [dbo].[CATEGORIAS_PLATOS]    Script Date: 7/11/2023 10:01:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIAS_PLATOS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Categoria] [varchar](50) NULL,
 CONSTRAINT [PK_CATEGORIAS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE_PEDIDOS]    Script Date: 7/11/2023 10:01:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_PEDIDOS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdPedido] [int] NULL,
	[IdPlato] [int] NULL,
	[Cantidad] [int] NULL,
 CONSTRAINT [PK_DETALLE_PEDIDOS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MESAS]    Script Date: 7/11/2023 10:01:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MESAS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NumeroMesa] [int] NULL,
	[IdMesero] [int] NULL,
	[IdPedido] [int] NULL,
 CONSTRAINT [PK_MESAS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDOS]    Script Date: 7/11/2023 10:01:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDOS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreCliente] [varchar](50) NULL,
	[IdMesa] [int] NULL,
	[IdUser] [int] NULL,
	[Fecha] [date] NULL,
 CONSTRAINT [PK_PEDIDOS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PLATOS]    Script Date: 7/11/2023 10:01:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLATOS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Tipo] [int] NULL,
	[Precio] [money] NULL,
	[Categoria] [int] NULL,
	[ImagenUrl] [varchar](250) NULL,
	[Stock] [int] NULL,
 CONSTRAINT [PK_Platos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPOS_PLATOS]    Script Date: 7/11/2023 10:01:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOS_PLATOS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Tipo] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 7/11/2023 10:01:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](50) NULL,
	[Pass] [varchar](50) NULL,
	[Nombre] [varchar](50) NULL,
	[Apellido] [varchar](50) NULL,
	[FechaNacimiento] [smalldatetime] NULL,
	[RolAdmin] [bit] NULL,
	[ProfileImage] [varchar](50) NULL,
 CONSTRAINT [PK_USERS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CATEGORIAS_PLATOS] ON 

INSERT [dbo].[CATEGORIAS_PLATOS] ([Id], [Categoria]) VALUES (1, N'Entrada')
INSERT [dbo].[CATEGORIAS_PLATOS] ([Id], [Categoria]) VALUES (2, N'Plato principal')
INSERT [dbo].[CATEGORIAS_PLATOS] ([Id], [Categoria]) VALUES (3, N'Desayuno')
SET IDENTITY_INSERT [dbo].[CATEGORIAS_PLATOS] OFF
GO
SET IDENTITY_INSERT [dbo].[DETALLE_PEDIDOS] ON 

INSERT [dbo].[DETALLE_PEDIDOS] ([Id], [IdPedido], [IdPlato], [Cantidad]) VALUES (84, 13, 6, 2)
INSERT [dbo].[DETALLE_PEDIDOS] ([Id], [IdPedido], [IdPlato], [Cantidad]) VALUES (85, 13, 7, 2)
INSERT [dbo].[DETALLE_PEDIDOS] ([Id], [IdPedido], [IdPlato], [Cantidad]) VALUES (86, 13, 8, 1)
SET IDENTITY_INSERT [dbo].[DETALLE_PEDIDOS] OFF
GO
SET IDENTITY_INSERT [dbo].[MESAS] ON 

INSERT [dbo].[MESAS] ([Id], [NumeroMesa], [IdMesero], [IdPedido]) VALUES (1, 1, 2, 47)
INSERT [dbo].[MESAS] ([Id], [NumeroMesa], [IdMesero], [IdPedido]) VALUES (2, 2, NULL, NULL)
INSERT [dbo].[MESAS] ([Id], [NumeroMesa], [IdMesero], [IdPedido]) VALUES (3, 3, NULL, NULL)
SET IDENTITY_INSERT [dbo].[MESAS] OFF
GO
SET IDENTITY_INSERT [dbo].[PEDIDOS] ON 

INSERT [dbo].[PEDIDOS] ([Id], [NombreCliente], [IdMesa], [IdUser], [Fecha]) VALUES (9, N'Pedro Caseres', 1, 2, CAST(N'2023-06-28' AS Date))
INSERT [dbo].[PEDIDOS] ([Id], [NombreCliente], [IdMesa], [IdUser], [Fecha]) VALUES (10, N'Pedro Caseres', 1, 19, CAST(N'2023-06-28' AS Date))
INSERT [dbo].[PEDIDOS] ([Id], [NombreCliente], [IdMesa], [IdUser], [Fecha]) VALUES (11, N'Pedro Caseres', 2, 2, CAST(N'2023-06-30' AS Date))
SET IDENTITY_INSERT [dbo].[PEDIDOS] OFF
GO
SET IDENTITY_INSERT [dbo].[PLATOS] ON 

INSERT [dbo].[PLATOS] ([Id], [Nombre], [Tipo], [Precio], [Categoria], [ImagenUrl], [Stock]) VALUES (1, N'Hamburguesa clásica', 1, 1100.0000, 2, N'plato-1.jpg', 65)
INSERT [dbo].[PLATOS] ([Id], [Nombre], [Tipo], [Precio], [Categoria], [ImagenUrl], [Stock]) VALUES (2, N'Sushi de salmón', 4, 1300.0000, 2, N'plato-2.jpg', 0)
INSERT [dbo].[PLATOS] ([Id], [Nombre], [Tipo], [Precio], [Categoria], [ImagenUrl], [Stock]) VALUES (3, N'Lasagna de carne', 3, 1000.0000, 2, N'plato-3.jpg', 63)
SET IDENTITY_INSERT [dbo].[PLATOS] OFF
GO
SET IDENTITY_INSERT [dbo].[TIPOS_PLATOS] ON 

INSERT [dbo].[TIPOS_PLATOS] ([Id], [Tipo]) VALUES (1, N'Carnes')
INSERT [dbo].[TIPOS_PLATOS] ([Id], [Tipo]) VALUES (2, N'Ensaladas')
INSERT [dbo].[TIPOS_PLATOS] ([Id], [Tipo]) VALUES (3, N'Pastas')
SET IDENTITY_INSERT [dbo].[TIPOS_PLATOS] OFF
GO
SET IDENTITY_INSERT [dbo].[USERS] ON 

INSERT [dbo].[USERS] ([Id], [Email], [Pass], [Nombre], [Apellido], [FechaNacimiento], [RolAdmin], [ProfileImage]) VALUES (1, N'gerente@resto.com', N'gerentepass', N'Gerente', N'Resto', CAST(N'1980-01-01T00:00:00' AS SmallDateTime), 1, N'perfil-1.jpg')
INSERT [dbo].[USERS] ([Id], [Email], [Pass], [Nombre], [Apellido], [FechaNacimiento], [RolAdmin], [ProfileImage]) VALUES (2, N'mesero@resto.com', N'meseropass', N'Mesero', N'Resto', CAST(N'1988-10-22T00:00:00' AS SmallDateTime), 0, NULL)
INSERT [dbo].[USERS] ([Id], [Email], [Pass], [Nombre], [Apellido], [FechaNacimiento], [RolAdmin], [ProfileImage]) VALUES (19, N'mesero2@resto.com', N'Mesero2@resto.com', N'mesero2', N'mesero2', CAST(N'2023-07-01T00:00:00' AS SmallDateTime), 0, NULL)
SET IDENTITY_INSERT [dbo].[USERS] OFF
GO
ALTER TABLE [dbo].[DETALLE_PEDIDOS]  WITH CHECK ADD  CONSTRAINT [FK_DETALLEPEDIDOS_PEDIDOS] FOREIGN KEY([IdPedido])
REFERENCES [dbo].[PEDIDOS] ([Id])
GO
ALTER TABLE [dbo].[DETALLE_PEDIDOS] CHECK CONSTRAINT [FK_DETALLEPEDIDOS_PEDIDOS]
GO
ALTER TABLE [dbo].[DETALLE_PEDIDOS]  WITH CHECK ADD  CONSTRAINT [FK_DETALLEPEDIDOS_PLATO] FOREIGN KEY([IdPlato])
REFERENCES [dbo].[PLATOS] ([Id])
GO
ALTER TABLE [dbo].[DETALLE_PEDIDOS] CHECK CONSTRAINT [FK_DETALLEPEDIDOS_PLATO]
GO
ALTER TABLE [dbo].[MESAS]  WITH CHECK ADD  CONSTRAINT [FK_MESAS_PEDIDOS] FOREIGN KEY([IdPedido])
REFERENCES [dbo].[PEDIDOS] ([Id])
GO
ALTER TABLE [dbo].[MESAS] CHECK CONSTRAINT [FK_MESAS_PEDIDOS]
GO
ALTER TABLE [dbo].[MESAS]  WITH CHECK ADD  CONSTRAINT [FK_MESAS_USERS] FOREIGN KEY([IdMesero])
REFERENCES [dbo].[USERS] ([Id])
GO
ALTER TABLE [dbo].[MESAS] CHECK CONSTRAINT [FK_MESAS_USERS]
GO
ALTER TABLE [dbo].[PEDIDOS]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDOS_MESAS] FOREIGN KEY([IdMesa])
REFERENCES [dbo].[MESAS] ([Id])
GO
ALTER TABLE [dbo].[PEDIDOS] CHECK CONSTRAINT [FK_PEDIDOS_MESAS]
GO
ALTER TABLE [dbo].[PEDIDOS]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDOS_USERS] FOREIGN KEY([IdUser])
REFERENCES [dbo].[USERS] ([Id])
GO
ALTER TABLE [dbo].[PEDIDOS] CHECK CONSTRAINT [FK_PEDIDOS_USERS]
GO
ALTER TABLE [dbo].[PLATOS]  WITH CHECK ADD  CONSTRAINT [FK_PLATOS_CATEGORIAS] FOREIGN KEY([Categoria])
REFERENCES [dbo].[CATEGORIAS_PLATOS] ([Id])
GO
ALTER TABLE [dbo].[PLATOS] CHECK CONSTRAINT [FK_PLATOS_CATEGORIAS]
GO
ALTER TABLE [dbo].[PLATOS]  WITH CHECK ADD  CONSTRAINT [FK_PLATOS_TIPOSPLATOS] FOREIGN KEY([Tipo])
REFERENCES [dbo].[TIPOS_PLATOS] ([Id])
GO
ALTER TABLE [dbo].[PLATOS] CHECK CONSTRAINT [FK_PLATOS_TIPOSPLATOS]
GO
/****** Object:  StoredProcedure [dbo].[SP_LastIdPedidos]    Script Date: 7/11/2023 10:01:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LastIdPedidos]
AS
BEGIN
	DECLARE @LastId INT
    SELECT @LastId = IDENT_CURRENT('Pedidos')
	SELECT @LastId + 1 AS Id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LastIdPlato]    Script Date: 7/11/2023 10:01:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LastIdPlato]
AS
BEGIN
	DECLARE @LastId INT
	SELECT TOP 1 @LastId = Id FROM PLATOS ORDER BY ID DESC
	SELECT @LastId + 1 AS Id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Login]    Script Date: 7/11/2023 10:01:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_Login](
	@Email varchar(50),
	@Pass varchar(50)
) AS
BEGIN
	SELECT Id, Email, Pass, Nombre, Apellido, FechaNacimiento, RolAdmin, ProfileImage FROM USERS WHERE Email = @Email AND Pass = @Pass
END
GO
/****** Object:  StoredProcedure [dbo].[SP_NuevaMesa]    Script Date: 7/11/2023 10:01:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_NuevaMesa] AS
Begin
	Declare @UltimoNumeroMesa int
	SELECT TOP 1 @UltimoNumeroMesa = NumeroMesa FROM MESAS ORDER BY NumeroMesa DESC
	Insert into MESAS (NumeroMesa)
	Values(@UltimoNumeroMesa+1)
end
GO
USE [master]
GO
